body {
    max-width: 720px;
    margin: 0 auto;
    padding: 24px;
    font-size: 20px;
    line-height: 1.8;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

button {
    font-size: 1.1rem;
    padding: 16px 24px;
    border-radius: 14px;
}

#result {
    margin-top: 1rem;

    padding: 24px;

    font-size: 1.2rem;
    line-height: 2;

    border-radius: 14px;

    min-height: 320px;
}